.advocate-search {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.advocate-search .div {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.advocate-search .text-wrapper {
  color: #000000;
  font-family: "JetBrains Mono-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 452px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 72px;
  width: 506px;
}

.advocate-search .overlap {
  height: 77px;
  left: 1016px;
  position: absolute;
  top: 873px;
  width: 324px;
}

.advocate-search .rectangle {
  background-color: #97edf5;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 324px;
}

.advocate-search .text-wrapper-2 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 24px;
  white-space: nowrap;
  width: 296px;
}

.advocate-search .overlap-group {
  background-image: url(./rectangle-49.svg);
  background-size: 100% 100%;
  height: 562px;
  left: 100px;
  position: absolute;
  top: 234px;
  width: 1240px;
}

.advocate-search .overlap-2 {
  height: 562px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1238px;
}

.advocate-search .text-wrapper-3 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 164px;
  white-space: nowrap;
  width: 51px;
}

.advocate-search .environmental {
  color: #000000;
  font-family: "JetBrains Mono-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 827px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 252px;
}

.advocate-search .text-wrapper-4 {
  color: #000000;
  font-family: "JetBrains Mono-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 833px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 432px;
  width: 252px;
}

.advocate-search .line {
  height: 562px;
  left: 805px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3px;
}

.advocate-search .img {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 1238px;
}

.advocate-search .criminal-affairs {
  color: #000000;
  font-family: "JetBrains Mono-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 828px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 146px;
  width: 252px;
}

.advocate-search .line-2 {
  height: 562px;
  left: 1029px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 3px;
}

.advocate-search .rectangle-2 {
  background-color: #d9d9d9;
  height: 29px;
  left: 1060px;
  position: absolute;
  top: 160px;
  width: 123px;
}

.advocate-search .rectangle-3 {
  background-color: #d9d9d9;
  height: 36px;
  left: 1060px;
  position: absolute;
  top: 153px;
  width: 158px;
}

.advocate-search .rectangle-4 {
  background-color: #d9d9d9;
  height: 36px;
  left: 1060px;
  position: absolute;
  top: 249px;
  width: 158px;
}

.advocate-search .rectangle-5 {
  background-color: #d9d9d9;
  height: 36px;
  left: 1060px;
  position: absolute;
  top: 441px;
  width: 158px;
}

.advocate-search .text-wrapper-5 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 161px;
  white-space: nowrap;
  width: 78px;
}

.advocate-search .text-wrapper-6 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 257px;
  white-space: nowrap;
  width: 78px;
}

.advocate-search .text-wrapper-7 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 449px;
  white-space: nowrap;
  width: 78px;
}

.advocate-search .corporate-affairs {
  color: #000000;
  font-family: "JetBrains Mono-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 830px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 333px;
  width: 146px;
}

.advocate-search .text-wrapper-8 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 25px;
  width: 295px;
}

.advocate-search .text-wrapper-9 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 840px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 24px;
  width: 146px;
}

.advocate-search .div-wrapper {
  background-color: #ffffff9c;
  height: 66px;
  left: 42px;
  position: absolute;
  top: 140px;
  width: 745px;
}

.advocate-search .text-wrapper-10 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 535px;
}

.advocate-search .overlap-3 {
  background-color: #ffffff9c;
  height: 66px;
  left: 42px;
  position: absolute;
  top: 230px;
  width: 745px;
}

.advocate-search .text-wrapper-11 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 508px;
}

.advocate-search .overlap-4 {
  background-color: #ffffff9c;
  height: 66px;
  left: 42px;
  position: absolute;
  top: 320px;
  width: 745px;
}

.advocate-search .text-wrapper-12 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 535px;
}

.advocate-search .overlap-5 {
  background-color: #ffffff9c;
  height: 66px;
  left: 42px;
  position: absolute;
  top: 410px;
  width: 745px;
}

.advocate-search .text-wrapper-13 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 535px;
}

.advocate-search .text-wrapper-14 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 1046px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 174px;
}

.advocate-search .overlap-6 {
  background-color: #d9d9d9;
  height: 36px;
  left: 1062px;
  position: absolute;
  top: 345px;
  width: 158px;
}

.advocate-search .text-wrapper-15 {
  color: #000000;
  font-family: "JetBrains Mono-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 78px;
}